In [2]:
# greeting = "Hello"

# if 'ell' in greeting:
#     print('yes')
# else: print('no')

my_string = "   Hello World   "
# my_string = my_string.strip()
# print(my_string)

print(my_string.lstrip())
print(my_string.rstrip())

Hello World
   Hello World

In [3]:
my_string.upper()

'   HELLO WORLD   '

In [5]:
my_string.strip().upper()

'HELLO WORLD'

In [6]:
my_string.strip().startswith("Hell")

True

In [9]:
my_string.strip().startswith("end")

False

In [17]:
my_string.find("pro")

-1

In [18]:
str(['sd', '23'])

"['sd', '23']"

In [21]:
my_string.count("ll")
my_string.count("po")

0

In [22]:
my_string.replace("Hello", "Hasta la vista, baby")

'   Hasta la vista, baby World   '

In [35]:
new_string = "hi how are you doing"
my_list = new_string.split(" ")
my_list

['hi', 'how', 'are', 'you', 'doing']

In [37]:
new_string = " ".join(my_list)
new_string

'hi how are you doing'

In [39]:
my_list = ['a'] * 6
my_list

['a', 'a', 'a', 'a', 'a', 'a']

In [42]:
my_string = "".join(my_list)
my_string

'aaaaaa'

In [43]:
from timeit import default_timer as timer

start = timer()
my_string = "".join(my_list)
my_string
end = timer()
print(end - start)

0.00010749999978543201

In [5]:
from collections import Counter

a = "aaaaabbbcccccc"

my_counter = Counter(a)
print(my_counter)

print(my_counter.keys())

import pandas as pd
from pathlib import Path

path = Path(r"C:\Users\yo_fanpc\Documents\dev\python\advanced_python_training\data\7789-2013-11-14.parquet")
df = pd.read_parquet(path)
df.cusip.values

Counter({'c': 6, 'a': 5, 'b': 3})
dict_keys(['a', 'b', 'c'])

array(['000886101', '000886101', '000886101', ..., 'Y2573F102',
       'Y2573F102', 'Y2573F102'], dtype=object)

In [9]:
df.head()

,accessionNumber,cikManager,managerName,periodOfReport,submissionType,filedAsOfDate,cusip,nameOfIssuer,titleOfClass,sharesValue,sharesHeldAtEndOfQtr,shrsOrPrnAmt,putCall,xml_flag,updated_at,quarter,transaction_type,transaction_shares,transaction_value
0,0000007789-00-000014,7789,nan,2000-09-30,13F-HR,2000-10-10,000886101,None,None,2064000.0,76756.0,None,None,fwf,2022-08-19 13:06:52.301841,2000Q3,,NaN,NaN
1,0000007789-01-500003,7789,nan,2000-12-31,13F-HR/A,2001-01-22,000886101,None,None,7247000.0,399843.0,None,None,fwf,2022-08-19 13:06:52.301841,2000Q4,,NaN,NaN
2,0000007789-01-500010,7789,nan,2001-03-31,13F-HR,2001-04-20,000886101,None,None,3262000.0,383808.0,None,None,fwf,2022-08-19 13:06:52.301841,2001Q1,,NaN,NaN
3,0000007789-01-500018,7789,nan,2001-06-30,13F-HR/A,2001-09-12,000886101,None,None,2005000.0,303773.0,None,None,fwf,2022-08-19 13:06:52.301841,2001Q2,,NaN,NaN
4,0000007789-01-500019,7789,nan,2001-09-30,13F-HR,2001-10-05,000886101,None,None,702000.0,201200.0,None,None,fwf,2022-08-19 13:06:52.301841,2001Q3,,NaN,NaN

In [21]:
my_counter = Counter(df.cusip.values)
my_counter['000886101']

7

In [30]:
import numpy

my_counter = Counter(df.periodOfReport.values)
my_counter.keys()
my_counter[numpy.datetime64('2000-09-30T00:00:00.000000000')]
my_counter.values()

dict_values([389, 399, 387, 290, 277, 299, 312, 245, 252, 274, 265, 269, 260, 259, 259, 253, 257, 258, 255, 264, 259, 248, 242, 236, 234, 215, 213, 206, 203, 211, 218, 218, 272, 208, 210, 213, 378, 385, 377, 352, 343, 343, 202, 208, 207, 202, 202, 207, 211, 218, 220, 219, 232, 232, 251, 223, 226, 241, 256])

In [36]:
# most common elements
my_counter.most_common()
my_counter.most_common(2)
my_counter.most_common(2)[1][0]

numpy.datetime64('2000-09-30T00:00:00.000000000')

In [ ]:
# get a list of all elements in the counter
list(my_counter.elements())

## Named Tuple

In [40]:
from collections import namedtuple

Point = namedtuple('Point', 'x,y')
pt = Point(1, -4)
pt

Point(x=1, y=-4)

In [42]:
pt.x, pt.y

(1, -4)

### Default Dictionary

In [47]:
from collections import defaultdict

d = defaultdict(str)
d['a'] = 1
d['b'] = 2

d['a']

d['c']

''

### Deque

In [109]:
from collections import deque

d = deque()

d.append(1)
d.append(2)

d
d.appendleft(0) # append to left of the queue

d

d.pop()  # drops the last element like in a list
d

d.append(5)
d

d.popleft() # dropping the leftmost element

d

d.clear() # removes all elements
d

deque([])

In [116]:
# d.append(df.sharesValue.values)
# d
len(d)
# d.appendleft([*df.sharesValue.values]) # append one element a time even if it's an unpacked list


# d.extend([*df.sharesValue.values]) # adds multiple element of the list
len(d)

# d.extendleft([*df.sharesValue.values[:4]]) # adds multiple element of the list
# len(d),d

# d.rotate(1) # takes the last element and puts it in as the first one
# len(d),d

# d.rotate(2) # takes two last element and puts it in as the first one clockwise
# len(d),d

d.rotate(-1) # moves elements counter clocksise
len(d),d
# d

(4, deque([2064000.0, 2005000.0, 3262000.0, 7247000.0]))

### Itertool and cytoolz/pytoolz

In [119]:
import cytoolz, pytoolz
from itertools import product


a = df.sharesValue.values
b = df.sharesHeldAtEndOfQtr.values

# %time prod = product(a, b)

CPU times: total: 15.6 ms
Wall time: 1.03 ms